.downloads {
  padding: 28px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    background-color: @dark;
    padding-bottom: 38px;
  }
}

.downloads__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid @white;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 32px;
  width: 280px;
  height: 55px;

  @media (min-width: @tablet) {
    max-width: 300px;
  }
}

.downloads__sistems {
  margin-bottom: 28px;
}

.downloads__text {
  margin: 0;
  max-width: 280px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @desktop) {

  }
}
