.filters {
  background-color: @bg-grey;

  @media (min-width: @desktop) {
    background-color: @white;
  }
}

.filters__wrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;

  @media (min-width: @tablet) {
    max-width: 620px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 57px 0;
  }

  @media (min-width: @desktop) {
    max-width: 940px;
    background-color: @bg-grey;
    padding-left: 80px;
    padding-right: 60px;
  }
}

.filters__choose {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
