.main-nav {
  display: none;
  flex-direction: column;

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__item {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;

  @media (min-width: @desktop) {
    background-color: transparent;
    text-transform: none;
    font-weight: normal;

    &:not(:last-child) {
      padding-right: 78px;
    }
  }
}
