.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social__item {
  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @media (min-width: @desktop) {
      cursor: pointer;
      border: 3px solid @bg-top;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &:not(:last-child) {
    margin-right: 9px;

    @media (min-width: @desktop) {
      margin-right: 5px;
    }
  }
}

.social__link {
  display: flex;
}

.social__link svg {
  fill: @main-red;
}
